Deep_Learning_with_Python_Second_Editio_v7.pdf
NNFS.pdf
deep-learning-with-python-notebooks
deep-learninig-with-pytorch-notebooks
.nv
.local
.keras
.jupyter
.ipython
.ipynb_checkpoints
.config
.cache
data_unver/07
references/object-detection/cards
references/object-detection/archive