[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
install = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
pandas = "*"
scikit-learn = "*"
nnfs = "*"
matplotlib = "*"
imageio = "*"
jupyter-contrib-nbextensions = "*"
seaborn = "*"
napari = {extras = ["pyqt5"], version = "*"}
pyqt5 = "*"
scikit-image = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.9"
